.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  background-color: #b0e6ff;
  padding: 10px 0 10px 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-family: "Roboto";
  overflow: hidden;
  border-radius: 5px;
}

.activeClassName {
  background-color: #2196f3;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

.pageClassName {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 5px;
}

.nextClassName {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
}

.previousClassName {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
}
